<!DOCTYPE html>
    <head>
        
        <title>VeckoPlanerare</title>
        <meta charset="utf-8">
        <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
        <link rel="stylesheet" href="../StyleSheets/Styles.css">
    </head>
    <body>            
        <h1 id="header">Vecka</h1>
        <select id="text"></select>
        
        <button id="GetWeekButton">Select</button>
        <button id="Update">Uppdatera</button>

        <div id="list"/>

        <script src="../Controllers/WeekController.js"></script>
    </body>
</html>